@using Microsoft.AspNet.Identity


    <ul class="nav navbar-nav navbar-right">
        <li> @Html.ActionLink("Забронировать", "Index", "Rooms")</li>
        @*<li>@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>

